*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: linear-gradient(to right,#121326,#263B42);
}
nav{
    margin-bottom: 20px;
    margin-left: 60px;
}
nav ul{
    float: right;
    margin-right: 50px;
    margin-bottom: 10px;
}
nav li{
    display: inline-block;
    border: 2px solid white;
    margin-bottom: 10px;
    border-radius: 12px;
}
nav li a{
    color: white;
    
    text-decoration: none;
    padding: 5px 15px;
    font-family: poppins;
    font-size: 14px;
    float: left;
    cursor: pointer;
    margin-bottom: 2px;
}

nav li a:hover{
    color: black;
    background: white;
}
.heading{
    margin-bottom: 2px;
    margin-top: 40px;
    margin-left: 800px;
    font-size: 35px;
    font-weight: lighter;
    left: 10px;
    color: white;
}
.line2{
    width: 100%;
    color: #121326;
    border: 3px solid gray;
    margin-bottom: 40px;
}
.price-comp, .price-comp1,.price-comp2{
    width: auto;
    height: 600px;
    justify-content: center;
    display: flex;
    /* justify-items: space-between; */
    justify-content: space-around;
    margin: 100px 0px 0px 10px;
    box-shadow: #121326;
    box-sizing: border-box;
    /* color: aqua; */
    /* background-color: whitesmoke; */
}
.price-clm, .price-clm1, .price-clm2{
    justify-content: center;
    /* margin: 10px; */
    border: 3px solid gray;
    border-radius: 10px;
    box-shadow: black;
    height: 60%;
    width: 20%;
    color: blue;
    background-image: linear-gradient(to bottom, lightgreen, white)
}
.price, .price1,.price2{
    text-align: center;
    color: black;
    box-shadow: #121326;
    justify-content: center;
}
.plan-name, .plan-name1, .plan-name2{
    text-align: center;
    color: black;
    margin-top: 20px;
    box-sizing: border-box;
    justify-content: center;
}
button{
	text-align: center;
	position: relative;
	color: black;
	background: skyblue;
	padding: 10px, 0px, 0px, 40px;
	left: 130px;
	top: 10px;
}
.price-section1, .price-section, .price-section2{
    margin-top: 10px;
}
.price-section1 img, .price-section img, .price-section2 img{
    width: 120px;
    height: 80px;
    box-sizing: border-box;
    box-shadow: #121326;
}