*{
    margin: 0;
    padding: 0
}
body{
    background-image: linear-gradient(to right,#121326,#263B42);
}
nav{
    margin-top: 10px;
}
nav ul{
    display: flex;
    list-style: none;
    float: right;
    margin-right: 100px;
}
nav ul li{
    padding: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    width: 20%;
    padding: 7px;
    border-radius: 12px;
}
nav ul li a:hover{
    color: black;
    background-color: white;
}
.logo{
    margin-top: 30px;
}
.logo h3{
    color: white;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 30px;
}
.logo h6{
    color: white;
    margin-left: 35px;
}
.line{
    width: 1700px;
    background-image: linear-gradient(to bottom, lightgreen, skyblue);
    height: 2px;
    margin-top: 90px;
}
.assests{
    width: 70rem;
    height: fit-content;
    background: whitesmoke;
    margin-left: 20rem;
    margin-top: 30px;
    border: 3px solid lightgreen;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}
.assests h2{
    text-align: center;
}
.assests p{
    margin-top: 10px;
}
.assests .video1{
    margin-left: 20rem;
}
